<!-- <input [(ngModel)]="searchText" type="text"   placeholder="search By Name">  -->
<div class="container">
  <br />
  <h2 align="center" class="bg-white text-primary">Tests Available</h2>
  <br />
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>TestId</th>
      <th>TestName</th>

      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let tests of test">
        <td>{{ tests.testId }}</td>
        <td>{{ tests.testName }}</td>

        <td>
          <button
            class="btn btn-danger"
            mwlConfirmationPopover
            [popoverTitle]="popoverTitle"
            [popoverMessage]="popoverMessage"
            placement="left"
            (confirm)="cancel(tests.testId)"
            (cancel)="cancelClicked = true"
          >
            RemoveTest
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
